$purple: #6441a4;
$lightgray: #7f888f;
$darkgray: #3d4449;

$opensans: 'Open Sans';
$robotoslab: 'Roboto Slab';

$genericheaders: 26px;

$color: hsl(171, 59%, 53%);
$twitch: hsl(261, 41%, 58%);
$words: hsl(0, 0%, 52%);
$border: hsl(0, 0%, 85%);
