('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,600|Pacifico');
('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Montserrat, sans-serif;
}
.btn {
  border: solid 1px lightgray;
  background-color: white;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
.btn-cta {
  background-color: hsl(9, 89%, 67%);
  border: none;
  color: white;
}
h1 {
  margin: 0;
  font-family: Pacifico, sans-serif;
  color: hsl(9, 89%, 67%);
}
nav div {
  position: absolute;
  top: 0;
  left: -500px;
  width: 250px;
  height: 100vh;
  transition: all 150ms ease-out;
  background-color: hsl(193, 68%, 45%);
}
nav div.open {
  left: 0px
}
nav div i {
  position: absolute;
  right: 18px;
  top: 16px;
  color: white;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul {
  background-color: hsl(193, 68%, 45%);
  padding: 20px;
  width: 250px;
  height: 100vh;
  transition: all 150ms ease-out;
}
nav ul:hover {
  left: 0;
}
nav li {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);

}
nav a {
  display: inline-block;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-family: inherit;
}
header {
  padding: 150px 0 100px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
  color: hsl(193, 68%, 45%);
}
section {
  display: flex;
  padding: 100px 0 60px 0;
}
section img {
  border-radius: 50%;
}
section .left div {
  flex-direction: column;
  display: flex;
  text-align: right;
  padding-right: 20%;

}
section .left p {
  padding-left: 20%;
}
section .right p {
  padding-right: 20%;
}
section p {
  color: gray;
}
section .right div {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}
h4 {
  color: hsl(193, 68%, 45%);
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: hsl(9, 89%, 67%);
}
main div {
margin-top: 40px;
margin-bottom: 60px;
}
 main h5 {
  color: white;
  font-size: 30px;
}
main p {
  color: lightgray;
  padding-left: 50px;
  padding: 0
}
main h6 {
  color: white;
  font-size: 15px;
}
main #ceo {
  font-size: 13px;
}
aside div {
  display: flex;
  flex-direction: column;
}
aside {
  display: flex;
}
aside #con {
  margin-right: 25px;
  margin-left: 50px;
}
aside #adi{
margin-left: 25px;
margin-right: 25px;
}
aside #mal {
margin-left: 25px;
margin-right: 50px;
}
aside h4 {
  font-size: 23px;
}
aside p {

}
aside img {

}
