body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
  'header header header'
  '. main main'
  'aside main main'
  'aside foot foot';
  grid-gap: 10px;
}
.a {
  grid-area: header;
  background-color: salmon;
  /*grid-column: span 2;*/
}
.b {
  grid-area: aside;
  background-color: steelblue;
  /*grid-column: 1 / span 3;
  grid-row: 2 / span 3;*/

}
.c {
  grid-area: main;
  background-color: gold;
  /*grid-column: 1;
  grid-row: 1;*/
  align-self: start;
}
.d {
grid-area: footer;
  background-color: lime;
  /*grid-column: 1;
  grid-row: 1;*/
}
/*repeat(5, 100px)*/
