body {
  background-color: cornsilk;
  margin: 0;
}
section:nth-of-type(2) {
  background-color: steelblue
}
header {
  
  background-image: url("../img/banner.jpg");
}
input {
  background-color: steelblue;
}
nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav * {
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 10px;
  margin: 0 5px;
}
.white {
  color: white;
}
