section:nth-of-type(1) {
  display: flex;
  background-color: red;
  height: 700px;
  width: 50%;
  margin: 0;
}
section:nth-of-type(2) {
  display: flex;
  height: 100px;
  width: 50%;
  margin: 0;
}
